
* {
  margin: 0;
  padding: 10;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
position: relative;
}


html{
    scroll-behavior: smooth;
}

.container
{
    padding: 0 100px 0 100px;
}


header h1{
    padding-left: 20px;
    color:#6f6c68; 
    text-transform: uppercase;
    font-weight: 600px;
}


nav a{
    padding-right: 20px;
    font-size: 1rem;
    font-weight:600;
    color: #6f6c68;  
}

nav a:hover{
    color: #ed5565;
}

nav ul,
.work-category{
    padding-left: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(..//img/BG.png);
    z-index: -1;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}


.navbar{
    background-color: #181818;
}


li{
    list-style: none;
    margin-left: 30px;
}

a{
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}

.main-info-section{
    height: calc(100vh-81.6px);
    
}

.text{
    margin-top: 120px;
    padding-left: 100px;
}

.text h1{
    color: #fff;           
    font-size: 3rem;
    cursor:pointer;
}

.text span{
    display: inline-block;
}

span:hover{
    color:#ff7600;
    transition: all .5s;
}

span.name{
    color: #ed5565;
}

span.m-left{
    margin-left: -10px;

}

.text p{
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8rem;
}

.text a{
    
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #ed5565;
    color: #ed5565;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    transition: .5s;
}

.text h3{
    color: aliceblue;
    font-weight: 100;
}


.text a:hover{
    color: #fff;
}

.text a::before{
    content: '';
    background-color: #ed5565;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height:0px; 
    z-index: -1;
    transition: .5s;
}

.text:before::after{
    height: 100px;
}

.about{
    height: 100vh;
    margin-top: 550px;
    padding-left: 30px;
}

.about h1{
    text-align: left;
    font-size: 6rem;
    color: black;
    z-index: 0;
    opacity: .3;

}

/*                                                             About info Box*/
.about-me-info{
    max-width: 900px;
    background-color: #252627;
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    padding: 50px;
    position: relative;
    top: 56px;                                                
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.about-me-info p{
    font-size: 1.2rem;
    color: #bebebe;
}


.about-me-info p:nth-child(2),
.about-me-info p:last-child{
    margin-top: 50px;
}

.about img{
    width: 450px;
    height: 300px;
    position: relative;
    top: -280px;
    left: 1010px;
    
}

.skills{
    margin-top: -300px;
    height: 110vh;
}

.skills h1,
.contact h1{
    text-align: left;
    color: black;
    font-size: 6rem;
    opacity: .3;
    margin-bottom: 60px;
}


.skills-info{
    font-size: 1.4rem;
    color: #bebebe;
    max-width: 800px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;
}


.html{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

div[class^='tag-']{
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
    width: 180px;
    height: 40px;
    background-color: #ed5565;
    margin-right: 30px;
}


div[class^='tag-'] p{
    color: #fff;
    text-align: left;
    padding-left: 10px;
    font-size: 1.1rem;
    padding-top: 7px;
}

.progressbar{
    position: relative;
    width: 600px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 20px;
    margin-top: 7px;
}

div[class^='bar-']{
    position: absolute;
    background-color: #ed5565;
    height: 10px;
    border-radius: 20px;
    margin: 2.7px;
}

.bar-ue4,
.bar-LevelD,
.bar-GameD,
.bar-c/c++,
.bar-3DArt{
    width: calc(0 - 6px);
}


/*
form input,
form textarea{
    display: block;
    width: 500px;
    padding: 20px;
    background-color: #252627;
    border: 3px solid #707070;
    margin: 20px;
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

.form input:last-child{
    width: 150px;
    background-color: #ed5565;
    border: none;
    cursor: pointer;
}
*/

.portfolio{
    margin-top: 200px;
}

.portfolio .section-title h1{
    text-align: right;
    font-size: 6rem;
    z-index: 0;
    opacity: .3;
    padding-right: 90px;
}

.portfolio .filter-buttons{    
    flex: 0 0 100%;
    max-width: 100%;
}

.portfolio .filter-buttons ul{
    list-style: none;
    text-align: center;
    padding: 0;
}

.portfolio .filter-buttons ul li{
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    margin: 0px 10px;
    cursor: pointer;
    text-transform: uppercase;
    padding-bottom: 0px;
}

.portfolio .filter-buttons ul li.active{
    color: #bebebe;
    border-bottom: 2px solid #ed5565;
}

.portfolio .filter-buttons{
    margin-bottom: 0px;
}

.portfolio .portfolio-gallery{
    flex: 0 0 100%;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.portfolio .portfolio-gallery .item{
    background-color: #252627;
    flex: 0 0 25%;
    max-width: 25%; 
    position: relative;
}

.portfolio .portfolio-gallery .item .inner{
    position: relative;
}

.portfolio .portfolio-gallery .item .overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
    color: #ed5565;
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s ease;
}

.portfolio .portfolio-gallery .item:hover .overlay{
    opacity: 1; 
}

.portfolio .portfolio-gallery .item .overlay .fa{
    height: 50px;
    width: 50px;
    display: inline-block;
    background-color: #252627;
    color: #ff7600;
    text-align: center;
    line-height: 50px;
    border-radius:50%;
    cursor: pointer;
}

.portfolio .portfolio-gallery .item:hover .overlay .fa{
        animation: galleryIcon 2s ease;
}

.contact{
    margin-top: 200px;
    margin-bottom: 100px;
}

.contact h4{
    color: #6f6c68;
    display: flex;
    flex-wrap: wrap;    
}

@keyframes galleryIcon{
    0%{
        transform: translatex(-20px); 
        opacity: 0;
    }
    100%{
       transform: translatex(0px); 
       opacity: 1;     
    }
}

.portfolio .portfolio-gallery .item img{
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
}

.portfolio .portfolio-gallery .item iframe{
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
}


.bar-ue4{
    width: 72%;
    animation: ue4 3s;
}

.bar-LevelD{
    width: 80%;
    animation: levelD 3s;
}

.bar-GameD{
    width: 70%;
    animation: gameD 3s;
}

.bar-c{
    width: 50%;
    animation: c 3s;
}

.bar-3DArt{
    width: 60%;
    animation: art 3s;
    
}.bar-BP{
    width: 65%;
    animation: Blueprint 3s;
}


@keyframes ue4{
    0%{
        width: 0%;
    }
    100%{
        width: 72%;
    }
    
}@keyframes Blueprint{
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}

@keyframes levelD{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

@keyframes gameD{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes c{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

@keyframes art{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}


/*lightbox*/
.lightbox{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(0,0,0,0.6);

    justify-content: center;
    align-items: center;
}


.lightbox.show{
    display: flex;
}

.lightbox.hide{
    display: none;
}


.lightbox .close{
    height: 35px;
    width: 35px;
    background-color: #252627;
    color: #ed5565;
    text-align: center;
    line-height: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 101;
}

.lightbox img{
    max-height: 60%;
    max-width: 60%;
    display: block;
}












